@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e7e9ee;
}

$whiteish: #e7e9ee;
$gray: #b8b4bb;
$darkgray: #5d5e60;
$lightblue: #8691ac;
$blue: #0083e0;
// font-family: 'Poppins', sans-serif;  TITLES
// font-family: 'Heebo', sans-serif;    TEXTS

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
p,
a,
li,
span,
label,
input,
select,
textarea,
button,
a:link,
a:visited,
a:hover,
a:active {
  font-family: "Heebo", sans-serif;
  color: #8691ac;
  text-decoration: none;
}
input,
textarea {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px 0px 5px 10px;
}
textarea {
  resize: none;
}

.section-wide {
  width: 100%;
}

.section-narrow,
.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

.button1,
.button2 {
  padding: 5px 10px;
  border: none;
  background-color: white;
  border-radius: 10px;
  font-weight: 600;
}

.button1 {
  color: #8691ac;
}
.button1:hover {
  background-color: #8691ac;
  color: white;
}

.button2 {
  color: lightcoral;
}

.button2:hover {
  background-color: lightcoral;
  color: white;
}

.button3,
.button4 {
  padding: 10px 20px;
  border: none;
  background-color: #8691ac;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 2px;
}

.button3:hover {
  background-color: white;
  color: #8691ac;
}
.button4 {
  background-color: lightcoral;
  color: white;
}

.button4:hover {
  background-color: white;
  color: lightcoral;
}

.disabled-btn {
  text-decoration: line-through;
  font-weight: 400;
  background-color: transparent;
  color: #8691ac;
  border: 1px dashed #8691ac;
}
