.product-page {
  padding: 0 10px;
  h1 {
  }
  > span {
    display: block;
    text-align: end;
    padding: 0 100px;
  }
  .photos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    img {
      width: 20%;
    }
  }

  .update-photos,
  .update-desc,
  .update-stock,
  .update-category,
  .update-general {
    width: 80%;
    margin: 20px auto 0 auto;
  }

  .update-photos {
    h3 {
    }
    .photo-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;
      .button2 {
        width: 90px;
      }
    }
    .photo-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;
      > div {
        width: 80%;
        .url-input {
          width: 80%;
          margin-right: 10px;
        }
        .position-input {
          width: 90px;
        }
      }
      .button1 {
        width: 90px;
      }
    }
  }
  .update-desc {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      textarea {
        resize: none;
      }
    }
  }
  .update-stock {
    h3 {
    }
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .stock-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        span {
        }
        input {
          width: 100px;
        }
      }
    }
  }
  .update-category {
    h3 {
    }
    > div {
      display: flex;
      justify-content: space-around;

      .button1,
      .button2 {
        margin-left: 10px;
      }
    }
  }
  .update-general {
    display: flex;
    justify-content: space-around;
    .price {
      span:nth-of-type(2) {
        color: red;
      }
    }
  }
  .button4{
    margin: 30px auto;
    display: block;
  }
}
