.products {
  .product {
    position: relative;
    .wishlist {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px;
      width: 30px;
      cursor: pointer;
    }
    a {
      display: block;
      > img {
        width: 100%;
      }
      h3 {
        font-size: 15px;
        font-weight: 600;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
