.products {
  .product {
    position: relative;
    .wishlist {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px;
      width: 30px;
      cursor: pointer;
    }
    a {
      display: block;
      > img {
        width: 100%;
      }
      h3 {
        font-size: 15px;
        font-weight: 600;
      }
      p {
        font-size: 13px;

        .is-sale {
          margin-right: 5px;
          color: #92989a;
          text-decoration: line-through;
        }
        .no-sale {
          display: none;
        }
      }
      .sale-price {
        color: red;
      }
    }
  }
}

@media (min-width: 800px) {
  .products {
    .product {
      .wishlist {
        top: 10px;
        right: 10px;
        width: 40px;
      }
      a {
        h3 {
          font-size: 20px;
          margin-left: 50px;
        }
        p {
          margin-left: 50px;
          font-weight: 400;
          font-size: 15px;
        }
      }
    }
  }
}
