.order-list {
  padding: 10px;
  .order-item,
  .table-header {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto 0 auto;
    padding: 10px;
    max-width: 1400px;
    h3 {
      width: 25%;
      text-align: center;
    }
  }
}
