@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;800;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

// COLLOR PALLETE
$white: #fbfefd;
$lightblue: #c4dde9;
$mint: #43c7d0;
$darkblue: #425260;
$lightblack: #2d3031;
$black: #141a1b;

// font-family: 'Poppins', sans-serif;  TITLES
// font-family: 'Heebo', sans-serif;    TEXTS

// GENERAL RULES
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #141a1b;
}

body {
  background-color: #fbfefd;
}

li {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #141a1b;
  text-decoration: none;
}

.section-wide {
  width: 100%;
}

.section-narrow,
.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

.notfound {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  h1 {
    background: linear-gradient(to bottom, #141a1b, #c4dde9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p,
a {
  font-family: "Heebo", sans-serif;
}

// GENERAL STYLES

.button1 {
  background-color: #fbfefd;
  color: #2d3031 !important;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
}
