.navbar {
  
 
  .nav-menu {
    background-color: white;
    width: 97%;
    margin: 10px auto 0 auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    li{
        padding: 5px 10px;
        font-weight: 500;
    }
  }
}
